{% block head %}
<link rel="stylesheet" type="text/css" href="/static/top_250_track.css">

<script>
	// pass the data from python/flask to the javascript/d3
	var movie_data = {{ data|tojson }}
</script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div id="fullPage">

	<div id="control">
		<div id="filter">
			<span>Filter</span>
		</div>
		<div id="fullChart">
			<span>Back to Full Chart</span>
		</div>
		<div class="table">
			<table id="movieSelection"></table>
		</div>
		<div class="table">
			<table id="clickedMovies"></table>
		</div>
	</div>

	<div id="tooltip"></div>
	<div id="graph"></div>

</div>
<script src="/static/top_250_track.js"></script>
{% endblock %}